@model NoticeBoardRight
@{
    ViewData["Title"] = "Detail";
}

<h4>Id:@Model.Id</h4>
<h4>Description:@Model.Description</h4>
<a class="btn btn-dark" asp-controller="NoticeBoardRight" asp-action="Index" asp-area="Admin">BACK</a>

